<ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar" [class.tab-bar--compact]="isCompact()">
        <ion-tab-button tab="workout" href="/workout" aria-label="Workouts">
            <i-lucide [img]="icons.workout" class="tab-bar__icon tab-bar__icon--fillable" [strokeWidth]="1.75" />
        </ion-tab-button>

        <ion-tab-button tab="exercise" href="/exercise" aria-label="Exercises">
            <i-lucide [img]="icons.exercise" class="tab-bar__icon" [strokeWidth]="1.75" />
        </ion-tab-button>

        <ion-tab-button tab="statistic" href="/statistic" aria-label="Statistics">
            <i-lucide [img]="icons.statistic" class="tab-bar__icon" [strokeWidth]="1.75" />
        </ion-tab-button>

        <ion-tab-button tab="profile" href="/profile" aria-label="Profile">
            <i-lucide [img]="icons.profile" class="tab-bar__icon" [strokeWidth]="1.75" />
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
