<ion-tabs>
    <ion-tab-bar slot="bottom" class="app-tab-bar">
        <ion-tab-button tab="workout" href="/tabs/workout">
            <i-lucide name="dumbbell" class="tab-icon" />
            <span class="tab-label">Workouts</span>
        </ion-tab-button>

        <ion-tab-button tab="exercise" href="/tabs/exercise">
            <i-lucide name="list" class="tab-icon" />
            <span class="tab-label">Exercises</span>
        </ion-tab-button>

        <ion-tab-button tab="statistic" href="/tabs/statistic">
            <i-lucide name="chart-bar" class="tab-icon" />
            <span class="tab-label">Statistics</span>
        </ion-tab-button>

        <ion-tab-button tab="profile" href="/tabs/profile">
            <i-lucide name="circle-user" class="tab-icon" />
            <span class="tab-label">Profile</span>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
